In [1]:
from pyzipcode import ZipCodeDatabase
import pandas as pd

In [84]:
df = pd.read_csv('zipCode.csv')
print(df.shape)
df.head()

(41483, 10)

,Country_cd,Zip,City,State,St_Cd,County,Ct_ID,Lat,Long,Acc
0,US,501,Holtsville,New York,NY,Suffolk,103.0,40.8154,-73.0451,4.0
1,US,544,Holtsville,New York,NY,Suffolk,103.0,40.8154,-73.0451,4.0
2,US,1001,Agawam,Massachusetts,MA,Hampden,13.0,42.0702,-72.6227,4.0
3,US,1002,Amherst,Massachusetts,MA,Hampshire,15.0,42.3671,-72.4646,4.0
4,US,1003,Amherst,Massachusetts,MA,Hampshire,15.0,42.3919,-72.5248,4.0

In [103]:
column_names = ['Country_cd', 'Zip', 'City', 'State', 'St_Cd', 'County', 'Ct_ID', 'test1', 'test2', 'Lat', 'Long', 'Acc']
df = pd.read_csv('US.txt', delimiter = "\t", names=column_names)
print(df.shape)
df.head()

(41483, 12)

,Country_cd,Zip,City,State,St_Cd,County,Ct_ID,test1,test2,Lat,Long,Acc
0,US,99553,Akutan,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.1430,-165.7854,1.0
1,US,99571,Cold Bay,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.1858,-162.7211,1.0
2,US,99583,False Pass,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.8542,-163.4113,1.0
3,US,99612,King Cove,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.0628,-162.3056,1.0
4,US,99661,Sand Point,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.3192,-160.4914,1.0

In [104]:
df.Zip.nunique()

41481

In [111]:
df = df.sort_values('Zip')
df['Zip'] = df['Zip'].astype(str).str.zfill(5)
df1 = df.head(10).copy()
df1['Zip'] = df1['Zip'].astype(str).str.zfill(5)
df1['Zip'].unique()

array(['00501', '00544', '01001', '01002', '01003', '01004', '01005',
       '01007', '01008', '01009'], dtype=object)

In [114]:
def optimize_zipcodes(radius):
    zcdb = ZipCodeDatabase()
    all_zipcodes = df['Zip'].astype('str').values
    optimized_zipcodes = []

    while len(all_zipcodes)>0:
        try:
            current_zip = all_zipcodes[0]
            optimized_zipcodes.append(current_zip)
            nearby_zips = [z.zip for z in zcdb.get_zipcodes_around_radius(current_zip, radius)]
            all_zipcodes = [z for z in all_zipcodes if z not in nearby_zips]
        except Exception:
            pass

    return pd.DataFrame(optimized_zipcodes, columns=['Zipcode'])

In [115]:
# Example usage:
opt_zips = optimize_zipcodes(5)
print(opt_zips.shape)

In [ ]:
opt_zips.to_csv('opt_zips.csv')